
*{
   
    margin: 0px;
    border: 0px;
    box-sizing:border-box;
   text-decoration:none;
   font-family:"Poppins",sans-serif;
   }
   .main-header {
    position:fixed;
    display: flex;
    justify-content: space-between;
    background-color: rgb(198, 18, 93) ;
    letter-spacing: 110px;
    padding: 30px;
    box-shadow: 3px 2px 5px pink;
    width: 100%;
    top: 0px;
    z-index: 9;

}
.main-header ul li a:hover{
    font-size: 20px;
    letter-spacing: 0px;
}

.main-header ul li {
    list-style-type: none;
    display: inline;
    margin: 20px;

}

.main-header ul li a {
    text-decoration: none;
    letter-spacing: 0px;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size:15px;

}
label{
  position: absolute;
  width: 45px;
  height: 22px;
  right: 20px;
  top: 20px;
  border: 2px solid;
  border-radius: 20px;
}
label:before{
  position: absolute;
  content: '';
  width:20px;
  height: 20px;
  left: 1px;
  top: 1px;
  border-radius: 50%;
  background: #000;
  cursor: pointer;
  transition: 0.4s;
}
label.active:before{
  left: 24px;
  background: #fff;
}
body.night{
  background: #000;
  color: #fff;
}
/*  */
   
   html{
   scroll-behavior:smooth;
   }
   body{
   background:rgb(194,24,91);
   }
   header{
   position:fixed;
   top:0;
   left:0;
   width:100%;
   padding:1rem  5%;
   display:flex;
   justify-content:space-between;
   align-items:center;
   z-index:5;
   }

   .nav-item{
   position:relative;
   color:#fff;
   font-size:1rem;
   font-weight:500;
   line-height:25px;
   letter-spacing:-0.13px;
   text-decoration:none;
   margin-left:2.5rem;
   transition:all 0.5s ease;
   text-transform:uppercase
   }
   .nav-item:hover{
   color:rgba(168,239,255,0.9)
   }
   .nav-item:before{
    position:absolute;
   content:"";
   left:0;
   bottom:0;
   height:3px;
   width:100%;
   background:white;
   transform:scaleX(0);
   transform-origin:right;
   transition:transform .4s linear;
   }
   .nav-item:hover:before{
   transform:scaleX(1);
   transform-origin:left;
   }
   section{
   position:relative;
   display:flex;
   justify-content:center;
   align-items:center;
   padding:80px 100px;
   color:#fff;
   }
   .container{
   position:relative;
   display:flex;
   justify-content:center;
   align-items:center;
   flex-direction:column;
   }
   .main-title{
   font-size:4em;
   margin-bottom:50px;
   }
   .content{
   position:relative;
   width:1150px;
   display:flex;
   justify-content:center;
   align-items:center;
   }
   .content .image{
    position:relative;
   width:800px;
   height:400px;
   overflow:hidden;
   }
   .content .image img{
   z-index:111;
   position:absolute;
   top:0;
   left:0;
   width:110%;
   height:110%;
   object-fit:cover;
   border-radius:30px 30px 30px 30px;
   }
   .content .text-box{
   z-index:222;
   background:rgba(255,255,255,);
   
   padding:40px;
   max-width:400px;
   height: 350px;
   
   border-radius:10px 10px 10px 10px;
   transform:translate(-20px,50px);
   
   } 
   .content .text-box p{
   font-size:1.5em;
   margin-bottom:5px;
   }
   .section-title{
   font-size:3em;
   margin-bottom:80px;
   }
   .info-title{
   font-size:1.8em;
   margin-bottom:10px;
   padding-top: 20px;
   }
   footer {
    background-color:rgb rgb(238, 4, 82);;
    color: #fff;
    padding: 2em;
    text-align: center;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .footer-section {
    flex-basis: 20%;
    padding: 1em;
  }
  
  .footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .footer-section li {
    margin-bottom: 10px;
  }
  
  .footer-section a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-section a:hover {
    color: #ccc;
  }
  
  .footer-copyright {
    width: 100%;
    text-align: center;
    padding: 1em;
    background-color:rgb(194,24,91);
  }
  
  @media only screen and (max-width: 768px) {
    .footer-container {
      flex-direction: column;
    }
    .footer-section {
      flex-basis: 100%;
      margin-bottom: 20px;
    }
  }
  
  @media only screen and (max-width: 320px) {
    .footer-section h3 {
      font-size: 16px;
    }
    .footer-section ul {
      font-size: 14px;
    }
    
  }
   
   